{% extends "base.html" %}

{% block main %}
<h1 class="mt-5">Literary Domains</h1>
<form>
	<div class="mb-3">
		<p class="lead">Great domain names from great work of literature.</p>
		<label for="books"
			class="form-label">Start typing to search for a book</label>
		<input type="text"
			class="form-control form-control-lg"
			id="books"
			aria-describedby="search-help"
			placeholder="Jane Austen"
			>
	</div>
</form>
<div id="domains"
	class="mb-5"></div>

{% endblock %}